body{
  background: black;
}
.header{
  color: red;
  font-size: xxx-large;
  text-align: center;
}
.panel{
  display: flex;
  justify-content: center;
  margin: 20px;
}
input{
  width: 500px;
  height: 50px;
  font-size: 25px;
}
.btn-number{
  height: 50px;
  width: 50px;
  margin: 10px;
  font-size: 30px;
}
.vertical-center {
  margin-top : 3px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
}
